# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Django stuff
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# IDEs and misc
*.sqlite3-journal
.DS_Store
Thumbs.db
.vscode/
.idea/
