Django==5.0.*
djangorestframework==3.*
django-cors-headers==4.*
python-dotenv==1.*

# If using OpenAI
openai

# If using Gemini
#langchain-google-genai
google-genai==0.1.*

# If using other LLM client
#

# Core LangChain package highly recommended for RAG and classification logic
#langchain

# For structured output and data validation (useful with LLMs)
pydantic

numpy==1.*

# The production HTTP server
gunicorn
